<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navbar-item">
    <div class="buttons">
      {% if user.is_authenticated %}
      # 사용자가 로그인 되어 있으면, 로그아웃 버튼을 화면에 표시 
      <a class="button is-primary" href="{% url 'account_logout' %}">
        Log Out
      </a>
      {% else %}
      # 그렇지 않다면, 회원가입과 로그아웃 버튼 표시 
      <a class="button is-primary" href="{% url 'account_signup' %}">
        <strong>Sign up</strong>
      </a>
      <a class="button is-light" href="{% url 'account_login' %}">
        Log in
      </a>
      {% endif %}
    </div>
</body>
</html>