{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  <!-- magazine.create와 magazine.update는 이 템플릿을 공유합니다. -->
  <div class="mt-5 d-flex justify-content-center">
    <form action="" method='POST' enctype='multipart/form-data'>
      {% csrf_token %}
      {% bootstrap_form magazine_form %}
  
      <div class="mt-4 d-flex justify-content-center">
        {% if request.resolver_match.url_name == 'create' %}
          <input style="width: 75%; padding: 15px 0px 15px 0px; background-color: #cfcfcf; border-radius: 30px; border: 0px; color: white;" type="submit" value='작성하기'>
        {% else %}
          <input style="width: 75%; padding: 15px 0px 15px 0px; background-color: #cfcfcf; border-radius: 30px; border: 0px; color: white;" type="submit" value='수정하기'>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock body %}