{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block body %}
  {% comment %} <a href="{% url 'magazine:index' %}">매거진 목록</a> {% endcomment %}
<!--
  /* 이건 썸네일 이미지! detail에선 나타내지 않아요! */
  <img src="{{ magazine.image.url }}" alt="">
-->
<div class="container m-5">
    {{magazine.title}}
    <br>
    {{ magazine.user}}
    <br>
    <a href="{% url 'magazine:update' magazine.pk %}" class='btn btn-warning'>수정버튼 위치</a>
    <form action="{% url 'magazine:delete_magazine' magazine.pk %}" method='POST'>
      {% csrf_token %}
      <input type="submit" class='btn btn-danger' value='매거진 삭제 버튼'>
    </form>
    {{magazine.content | safe }},
    <br>
    {{magazine.created_at}}
    <br>

  </div>
  <div class="mb-5">

    <p class=''>
      댓글작성</p>
    <div class='mb-5'>
      <form action="{% url 'magazine:mzcomment_create' magazine.pk %}" method='POST' class='magazine-comment-form' data-magazine-id="{{ magazine.pk }}" id="formform">
        {% csrf_token %}
        <div class="detail-comment-input-box">
          <p>댓글 작성</p>
            {% render_field mzcomment_form.content class="form-control" placeholder='댓글 작성' add_required_class="is-required" %}
        </div>
        <div class="">
          <p>평점</p>
          {% render_field mzcomment_form.grade class="form-control" placeholder='댓글평점' add_required_class="is-required" %}
        </div>
          <input type="submit" value='작성' class='btn btn-primary'>
      </form>
    </div>
    {% for mzcomment in mzcomments %}
      <p>
        {{mzcomment.user}}|{{ mzcomment.content}}
        <a href="{% url 'magazine:mzcomment_delete' magazine.pk mzcomment.pk %}" class='btn btn-danger'>삭제(버튼 왜 죄다 이렇게 나와용,,,?)</a>
      </p>
      <hr>
    {% endfor %}
  </div>

{% endblock body %}