{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/card_compare.css' %}">  
{% endblock css %}

{% block body %}
<div class="compare_card">

  <!-- visual -->
  <section class="visual">
      <div style="display: flex; justify-content: center; height: 500px;" class="inner">
        <p style="opacity:0; margin-top: 45px; font-weight: 600; font-size: 40px; position: absolute;" class="\">비교하실 카드를 골라주세요.</p>
        <div  class="container">
          <div class="row">
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.0.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.0.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.0.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.0.card.id %}" type="button" class="btn btn-primary btn-sm">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.1.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.1.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.1.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.1.card.id %}" type="button" class="btn btn-primary btn-sm">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.2.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.2.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.2.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.2.card.id %}" type="button" class="btn btn-primary btn-sm">자세히보기</a>
              </div>
            </div>

            {% comment %} <div style="display: flex; top: 480px; justify-content: space-around;" class="card-btn">
              <button style="background-color: rgba(215, 219, 223, 0.5); position: absolute; left: 490px;  top: 480px;" type="button" class="btn">카드를 선택해주세요</button>
              <button style="background-color: rgba(215, 219, 223, 0.5); position: absolute; left: 880px;  top: 480px;" type="button" class="btn">카드를 선택해주세요</button>
              <button style="background-color: rgba(215, 219, 223, 0.5); position: absolute; left: 1260px;  top: 480px;" type="button" class="btn">카드를 선택해주세요</button>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    
  </section>
    
    
    <div style="margin-top: 180px;" class="py-5">
      <div class="container">
        <div>
          <hr>
        </div>
      </div>
    </div>
    
    
    <!-- 카드사 이벤트 -->
    <div class="container">
      <div class="allWrap">     
          <div style="display: flex; justify-content: center; margin: 40px;" class="tabBox">
              <p style="margin: 10px;" class="tab-link current" data-tab="tab-1">카드 정보</p>
              <p style="margin: 10px;" class="tab-link"  data-tab="tab-2">핵심 혜택</p>
          </div>
          <div id="tab-1" class="tab-content current">
            
            <div class="container text-center">
              <!-- <div style="width: 800px; height: 20px; margin-bottom: 200px;">
                <p style="width: 800px; height: 20px; left:;">카드의 종류를 확인해 보세요!</p>
              </div> -->
              <div class="row">

                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-detail-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} / {{ compare_cards.0.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-detail-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} / {{ compare_cards.0.card.card_in_out_2 }} / {{ compare_cards.0.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-detail-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }}</p>
                    {% endif %}
                    <p>{{ compare_cards.0.card.card_record }}</p>
                    <p>{{ compare_cards.0.card.card_overseas }}</p>
                  </div>
                </div>

                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  {% if compare_cards.0.card.card_in_out_2 != None  %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} / {{ compare_cards.1.card.card_in_out_2 }}</p>
                  {% elif compare_cards.0.card.card_in_out_3 != None %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} / {{ compare_cards.1.card.card_in_out_2 }} / {{ compare_cards.1.card.card_in_out_3 }}</p>
                  {% else %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }}</p>
                  {% endif %}
                  <p>{{ compare_cards.1.card.card_record }}</p>
                  <p>{{ compare_cards.1.card.card_overseas }}</p>
                </div>

                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  {% if compare_cards.0.card.card_in_out_2 != None  %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }} / {{ compare_cards.2.card.card_in_out_2 }}</p>
                  {% elif compare_cards.0.card.card_in_out_3 != None %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }} / {{ compare_cards.2.card.card_in_out_2 }} / {{ compare_cards.2.card.card_in_out_3 }}</p>
                  {% else %}
                  <p class="card-detail-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }}</p>
                  {% endif %}
                  <p>{{ compare_cards.2.card.card_record }}</p>
                  <p>{{ compare_cards.2.card.card_overseas }}</p>
                </div>
              </div>
            </div>
    
          </div>
          <div  id="tab-2" class="tab-content">
    
            <div class="container text-center">
              <div class="row">
                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  <div>
                    {% for bnf in compare_cards.0.card.benefit_set.all %}
                    <p>{{ bnf.bnf_name }}</p>
                    <p>{{ bnf.bnf_content }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  {% for bnf in compare_cards.1.card.benefit_set.all %}
                  <p>{{ bnf.bnf_name }}</p>
                  <p>{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>
                <div style="border-radius: 35px; background-color: rgba(132, 171, 210, 0.5); margin-right: 10px;" class="col">
                  {% for bnf in compare_cards.2.card.benefit_set.all %}
                  <p>{{ bnf.bnf_name }}</p>
                  <p>{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
    
          </div>

      </div>
    </div>

</div>

{% endblock body %}



{% block script %}
    <script>
        $('.tab-link').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('.tab-link').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');

    });
    </script>

    <script>
    // 카드 디테일 세로로 바꾸기
    let cardImage = document.querySelectorAll('.compare-card-images')

    for (let i = 0 ; i < cardImage.length ; i ++) {
  
      if (cardImage[i].width > cardImage[i].height) {
        console.log('회전하기!')
        cardImage[i].style.width = '360px';
        cardImage[i].style.height = '227px';
        cardImage[i].classList.add('rotate90');
      } else {
        cardImage[i].style.width = '227px';
        cardImage[i].style.height = '360px';
      }
    }
    </script>
{% endblock script %}