{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock css %}

{% block body %}
  
<div class="mt-5 container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
  {% for card in card_list %} 
  <div class="col d-flex justify-content-center ">
    <a href="{% url 'card:detail' card.pk %}" style="width: 170px;">
      <div class="my-4 card-cardcompany-image-box">
        <img class="card-cardcompany-banner-card-image" src="{{ card.card_img }}" alt="">
      </div>
      <div style="text-align: center;">
        <p>{{ card.card_name }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
  </div>

  <!-- 페이지네이션 -->
  <div class="mt-5 d-flex justify-content-center">

    {% if card_list.has_previous %}
      <a href="?page={{card_list.previous_page_number}}">이전</a>
    {% endif %}

    {% for p in card_list.paginator.page_range %}
      <a href="?page={{p}}" class="mx-1">{{p}}</a>
    {% endfor %}

    {% if card_list.has_next %}
      <a href="?page={{card_list.next_page_number}}">다음</a>
    {% endif %}
  </div>
</div>

<script>
  // 카드 베너 가로로 바꾸기
  let bannerCardImage = document.querySelectorAll('.card-cardcompany-banner-card-image')

  for (let i = 0; i < bannerCardImage.length; i++) {
      if (bannerCardImage[i].height > bannerCardImage[i].width) {
        console.log('회전하기!')
        bannerCardImage[i].style.width = '110px';
        bannerCardImage[i].style.height = '170px';
        bannerCardImage[i].style.borderRadius = '15px';
        bannerCardImage[i].classList.add('banner-rotate90')
      } else {
        bannerCardImage[i].style.width = '170px';
        bannerCardImage[i].style.height = '110px';
        bannerCardImage[i].style.borderRadius = '15px';
      }

    } 
</script>

{% endblock body %}
