{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/card_compare.css' %}">  
{% endblock css %}

{% block body %}
<div class="compare_card">

  <!-- visual -->
  <section class="visual">
      <div style="display: flex; justify-content: center; height: 500px;" class="inner">
        <p style="opacity:0; margin-top: 45px; font-weight: 600; font-size: 40px; position: absolute;" class="\">비교하실 카드를 골라주세요.</p>
        <div  class="container">
          <div class="row">

            {% if compare_cards %}
            {% if compare_cards.count == 1 %}
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.0.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.0.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.0.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.0.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>
              
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>

            {% elif compare_cards.count == 2 %}
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.0.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.0.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.0.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.0.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.1.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.1.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.1.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.1.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>

            {% elif compare_cards.count == 3 %}
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.0.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.0.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.0.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.0.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.1.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.1.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.1.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.1.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box">
                <img class="compare-card-images d-block" src="{{ compare_cards.2.card.card_img }}">
              </div>
              <div style="display: flex; justify-content:center;">
                <h6 style="margin-top: 20px;" class="">{{ compare_cards.2.card.card_brand }}</h6>
              </div>
              <p style="font-size: 22px; font-weight: 700; text-align: center;">{{ compare_cards.2.card.card_name }}</p>
              <div>
                <a href="{% url 'card:detail' compare_cards.2.card.id %}" type="button" class="compare-card-search-btn">자세히보기</a>
              </div>
            </div>
            {% endif %}
            
            {% else %}
            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>

            <div class="col-md-4 compare-card-box">
              <div class="compare-card-images-box-none">
              </div>
              <p class="compare-card-search" style="font-size: 22px; font-weight: 700; text-align: center;">비교할 카드를 찾아주세요</p>
              <div>
                <a href="{% url 'card:search' %}" type="button" class="compare-card-search-btn-none">찾으러 가기</a>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    
  </section>
    
    
    <div style="margin-top: 180px;" class="py-5">
      <div class="container">
        <div>
          <hr>
        </div>
      </div>
    </div>
    
    
    <!-- 카드사 이벤트 -->
    {% if compare_cards %}
    <div class="container">
      <div class="allWrap">     
          <div style="display: flex; justify-content: center; margin: 40px;" class="tabBox">
              <p style="margin: 10px;" class="tab-link current" data-tab="tab-1">카드 정보</p>
              <p style="margin: 10px;" class="tab-link"  data-tab="tab-2">핵심 혜택</p>
          </div>
          <div id="tab-1" class="tab-content current">
            
            <div class="container text-center">

              <div class="row">
                
                {% if compare_cards.count == 3 %}
                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }} | {{ compare_cards.0.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.0.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.0.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} | {{ compare_cards.1.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} | {{ compare_cards.1.card.card_in_out_2 }} | {{ compare_cards.1.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.1.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.1.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }} | {{ compare_cards.2.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }} | {{ compare_cards.2.card.card_in_out_2 }} | {{ compare_cards.2.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.2.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.2.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.2.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                {% elif compare_cards.count == 2 %}
                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }} | {{ compare_cards.0.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.0.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.0.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} | {{ compare_cards.1.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }} | {{ compare_cards.1.card.card_in_out_2 }} | {{ compare_cards.1.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.1.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.1.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.1.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                <div class="col compare-card-cards-none">
                  <div class="card-compare-bnf1-none">
                    <p class="card-compare-bnf1-none-alert">카드를 골라주세요</p>
                  </div>
                </div>

                {% elif compare_cards.count == 1 %}
                <div class="col compare-card-cards">
                  <div>
                    {% if compare_cards.0.card.card_in_out_2 != None  %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }}</p>
                    {% elif compare_cards.0.card.card_in_out_3 != None %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }} | {{ compare_cards.0.card.card_in_out_2 }} | {{ compare_cards.0.card.card_in_out_3 }}</p>
                    {% else %}
                    <p class="card-compare-bnf1-inout-name">연회비</p>
                    <p class="card-compare-bnf1-inout">{{ compare_cards.0.card.card_in_out_1 }}</p>
                    {% endif %}
                    <div class="card-compare-record">
                      <p class="card-compare-record-name">전월실적</p>
                      <p class="card-compare-record-detail">{{ compare_cards.0.card.card_record }}</p>
                    </div>
                    <div class="card-compare-overseas">
                      <p class="card-compare-overseas-name">해외 연동 카드사</p>
                      <p class="card-compare-overseas-detail">{{ compare_cards.0.card.card_overseas }}</p>
                    </div>
                  </div>
                </div>

                <div class="col compare-card-cards-none">
                  <div class="card-compare-bnf1-none">
                    <p class="card-compare-bnf1-none-alert">카드를 골라주세요</p>
                  </div>
                </div>

                <div class="col compare-card-cards-none">
                  <div class="card-compare-bnf1-none">
                    <p class="card-compare-bnf1-none-alert">카드를 골라주세요</p>
                  </div>
                </div>
                {% endif %}
              
              </div>
            </div>
          </div>
    
          <div id="tab-2" class="tab-content">
            
            <div class="container text-center">
              <div class="row">
                {% if compare_cards.count == 3 %}
                <div class="compare-card-bnf2 col">
                  <div>
                    {% for bnf in compare_cards.0.card.benefit_set.all %}
                    <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                    <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                    {% endfor %}
                  </div>
                </div>

                <div class="compare-card-bnf2 col">
                  {% for bnf in compare_cards.1.card.benefit_set.all %}
                  <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                  <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>

                <div class="compare-card-bnf2 col">
                  {% for bnf in compare_cards.2.card.benefit_set.all %}
                  <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                  <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>

                {% elif compare_cards.count == 2 %}
                <div class="compare-card-bnf2 col">
                  <div>
                    {% for bnf in compare_cards.0.card.benefit_set.all %}
                    <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                    <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                    {% endfor %}
                  </div>
                </div>

                <div class="compare-card-bnf2 col">
                  {% for bnf in compare_cards.1.card.benefit_set.all %}
                  <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                  <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>

                <div class="compare-card-bnf2-none-box col">
                  <p class="card-compare-bnf2-none">카드를 골라주세요</p>
                </div>

                {% elif compare_cards.count == 1 %}
                <div class="compare-card-bnf2 col">
                  {% for bnf in compare_cards.0.card.benefit_set.all %}
                  <p class="card-compare-bnf2-name">{{ bnf.bnf_name }}</p>
                  <p class="card-compare-bnf2-content">{{ bnf.bnf_content }}</p>
                  {% endfor %}
                </div>

                <div class="compare-card-bnf2-none-box col">
                  <p class="card-compare-bnf2-none">카드를 골라주세요</p>
                </div>

                <div class="compare-card-bnf2-none-box col">
                  <p class="card-compare-bnf2-none">카드를 골라주세요</p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
    
        </div>
        
      </div>
    </div>
    {% else %}
    <div class="card-compare-no-card">
      <p>비교함에 카드가 없습니다</p>
      <p>카드를 골라주세요</p>
    </div>
    {% endif %}

</div>

{% endblock body %}



{% block script %}
    <script>
        $('.tab-link').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('.tab-link').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');

    });
    </script>

    <script>
    // 카드 디테일 세로로 바꾸기
    let cardImage = document.querySelectorAll('.compare-card-images')

    for (let i = 0 ; i < cardImage.length ; i ++) {
  
      if (cardImage[i].width > cardImage[i].height) {
        console.log('회전하기!')
        cardImage[i].style.width = '360px';
        cardImage[i].style.height = '227px';
        cardImage[i].classList.add('rotate90');
      } else {
        cardImage[i].style.width = '227px';
        cardImage[i].style.height = '360px';
      }
    }
    </script>
{% endblock script %}