{% extends 'base.html' %}
{% block body %}
  <h1>card_list by card_brand
  </h1>
  {% for card in card_list %}
    <a href="{% url 'card:detail' card.pk %}">{{ card.card_name }}</a>

    <br>
  {% endfor %}
  <div class="">

    {% if card_list.has_previous %}
      <a href="?page={{card_list.previous_page_number}}">이전</a>
    {% endif %}

    {% for p in card_list.paginator.page_range %}
      {% if p >= card_list.number|add:-2 and p <= card_list.number|add:2 %}
        {% if p == card_list.number %}
          <a href="?page={{p}}" class="mx-1">{{p}}</a>
        {% else %}
          <a href="?page={{p}}" class="mx-1">{{p}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if card_list.has_next %}
      <a href="?page={{card_list.next_page_number}}">다음</a>
    {% endif %}
  </div>
{% endblock body %}
