{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/card_list.css' %}">
{% endblock css %}

{% block body %}

  <h1>카드 맞춤 검색</h1>
  
  <div class="container">
  {% for card in card_lst %}
    <p>{{card}}</p>
  {% endfor %}
  </div>

  <div class="row mt-2">
    <div class="col-12 my-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if card_lst.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?age=30대&type=체크{{ answers_page }}&p={{ card_lst.previous_page_number }}">이전</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">이전</a>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="#">{{ card_lst.number }}
              /
              {{ card_lst.paginator.num_pages }}</a>
          </li>
          {% if card_lst.has_next %}
            <li class="page-item">
              <a class="page-link" href="?age=30대&type=체크{{ answers_page }}&p={{ card_lst.next_page_number }}">다음</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">다음</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>



{% endblock body %}

{% block script %}
<script>
  // 카드 디테일 세로로 바꾸기
  let cardImage = document.querySelectorAll('.card-list-image')

  for (let i = 0 ; i < cardImage.length ; i ++) {

    if (cardImage[i].width > cardImage[i].height) {
      console.log('회전하기!')
      cardImage[i].style.width = '250px';
      cardImage[i].style.height = '150px';
      cardImage[i].classList.add('rotate90');
    } else {
      cardImage[i].style.width = '150px';
      cardImage[i].style.height = '250px';
    }
  }
</script>
{% endblock script %}