{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %} 

{% endblock css %}

{% block body %}
<div class="py-5">
    <div style="background-color: bisque;" class="container">
      <div class="row" >
        <div class="col-md-4">
          <div style="display: flex;" class="container1">
            <div class="card1">
              <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2300/card_img/25153/2300card.png" alt="" class="card__img"> 
          
              <!-- <div class="card__content">  -->
              <div class="card__data">
                <h1 class="card__title">내맘대로 쁨 카드</h1>
                <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                <a href="#" class="card__button"> 추가하기 + </a>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container">
            <div style="margin-top: 30px; display: flex; justify-content: space-between;">
              <h1 style="font-size: 30px;" >네이버페이 머니 하나 체크카드</h1>
              <button>자세히 보기</button>
            </div>
            <div>
              <p style="margin-bottom: 100px; font-size: 20px;">하나카드</p>
            </div>
  
            <div class="name">
              <p style="font-size: 25px; margin-bottom: 20px;" >네이버페이</p>
              <p><span style="font-size: 25px;"> 1.2% </span> 포인트 적립</p>
            </div>
  
            <div style="display: flex;">
              <p>국내전용 없음 / 해외겸용 없음 </p> 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <p>전월실적 25만원 이상</p>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>




{% endblock body %}