{% extends 'base.html' %}
{% block body %}
  <!-- <h1>rank</h1>
  <h1>신용카드</h1>
  {% for cardcre in card_credit %}
    <img src="{{cardcre.card_img }}" alt="">
    <a href="{% url 'card:detail' cardcre.pk %}">

      {{ cardcre.card_name }}
    </a>
  {% endfor %}
  <h1>체크카드</h1>
  {% for cardchk in card_check %}
    <img src="{{cardchk.card_img }}" alt="">
    <a href="{% url 'card:detail' cardchk.pk %}">
      {{ cardchk.card_name }}
    </a>
  {% endfor %} -->


   <!-- ----------------------------------------- 신용카드  -------------------------------------- -->
  
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>2022 BEST 신용 카드</h1>
        </div>
      </div>
      
      <div class="row">
        {% for cardcre in card_credit_page %}
        <div class="col-md-3">
          <div class="card1">
            <img style="width: 200px;" src="{{cardcre.card_img }}" alt="" class="card__img">
            <!-- <div class="card__content"> -->
            <div class="card__data">
              <BC class="card__title">{{ cardcre.card_name }}</h1>
              <!-- <span class="card__preci">현대카드</span> -->
              <p class="card__description">현대카드 M3 BOOST 신규 발급 시 연회비 9만원 중 3만원 캐시백</p>
              <a href="{% url 'card:detail' cardcre.pk %}" class="card__button">
                자세히보기
              </a>
            </div>
            <!-- </div> -->
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
  <!--__________________ 페이지네이션 ____________________-->
  <div class="py-5">
    <div style="display: flex; justify-content: center;" class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            {% if card_credit_page.has_previous %}
            <li class="page-item"> <a class="page-link" href="?page={{card_credit_page.previous_page_number}}">Prev</a> </li>
            {% endif %}

            {% for p in card_credit_page.paginator.page_range %}
              <li class="page-item"> <a class="page-link" href="?page={{p}}">{{p}}</a> </li>
            {% endfor %}

            {% if card_credit_page.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{card_credit_page.next_page_number}}">Next</a> </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>



   <!-- ----------------------------------------- 중간광고  -------------------------------------- -->
   <div  class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://api.card-gorilla.com:8080/storage/display/3695/pc_img/27448/LAD_%EC%B9%B4%EB%93%9C%EA%B3%A0%EB%A6%B4%EB%9D%BC_PC%EB%A9%94%EC%9D%B8%EC%85%80%EB%A0%89%EC%85%98_221212-live-%28221117-%EA%B8%B0%EC%A4%80%29.png);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
    <div style="margin-top: 100px"class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">A wonderful serenity</h1>
          <p class="lead mb-5">Has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence.</p> 
        </div>
      </div>
    </div>
  </div>


  <!-- ----------------------------------------- 체크 카드  -------------------------------------- -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>2022 BEST 체크 카드</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        {% for cardchk in card_check_page %}
        <div class="col-md-3">
          <div class="card1">
            <img style="width: 200px;" src="{{cardchk.card_img }}" alt="" class="card__img">
            <!-- <div class="card__content"> -->
            <div class="card__data">
              <BC class="card__title">{{ cardchk.card_name }}</h1>
              <!-- <span class="card__preci">현대카드</span> -->
              <p class="card__description">현대카드 M3 BOOST 신규 발급 시 연회비 9만원 중 3만원 캐시백</p>
              <a href="{% url 'card:detail' cardchk.pk %}" class="card__button">
                자세히보기
              </a>
            </div>
            <!-- </div> -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    <!--__________________ 페이지네이션 ____________________-->
  <div class="py-5" >
    <div style="display: flex; justify-content: center;" class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            {% if card_check_page.has_previous %}
            <li class="page-item"> <a class="page-link" href="?page={{card_check_page.previous_page_number}}">Prev</a> </li>
            {% endif %}

            {% for p in card_check_page.paginator.page_range %}
              <li class="page-item"> <a class="page-link" href="?page={{p}}">{{p}}</a> </li>
            {% endfor %}

            {% if card_check_page.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{card_check_page.next_page_number}}">Next</a> </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block script %}
<script>
  let cnt = 0
</script>
{% endblock script %}