{% extends 'base.html' %}

{% block css %} 



{% endblock css %}

{% block body %}
  <!-- <h1>search_list.html
  </h1>
  {% for btl in bene_tu_li %}
    <h1>
      {{ btl.0 }}
    </h1>
    {% for card in btl.1 %}
      <a href="{% url 'card:detail' card.pk %}">
        {{card.card_name}}
      </a>
    {% endfor %}

    <br>
  {% endfor %} -->



  <!-- ____________________________________________프론트_수경 _________________________________ -->

<!-- _------------------------------------------- search _ list banner ------------------------ -->








<!-- ----------------------------------------------혜택 카드 시작 ----------------------------------- -->
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div  class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/a8/74/64/a8746477d80a017be7002639ea954a31.gif" alt="">
            <div class="card-info">
              <h2 class="text-center">항공마일리지 혜택 BEST CARD</h2>
              <p class="text-center">항공마일리지 혜택 <br> BEST CARD을 만나보세요!</p>
              <button>See More</button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div  class="row">
            <div  style="margin: 25px; margin-bottom: 0;" class="col-md-3">
              <div  style="padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/27/card_img/25865/27card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">MILEAGE PLATINUM</h1>
                  <p class="card__description">인천공항 라운지무료이용</p>
                  <a href="#" class="card__button"> 자세히 보기</a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style=" width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2259/card_img/21009/2259card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/475/card_img/21165/475card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------- 구독 스트리밍 ------------------ -->
  <div class="py-0">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/27/7b/5b/277b5bdd59b3c4e01dbd40e73b7e622d.gif" alt="">
            <div class="card-info">
              <h2>구독 스트리밍</h2>
              <p class="text-center">구독 & 스트리밍 혜택 <br> BEST CARD을 만나보세요!</p>
              <button>See More</button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div  class="row">
            <div  style="margin: 25px; margin-bottom: 0;" class="col-md-3">
              <div  style="padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/27/card_img/25865/27card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">MILEAGE PLATINUM</h1>
                  <p class="card__description">인천공항 라운지무료이용</p>
                  <a href="#" class="card__button"> 자세히 보기</a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style=" width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2259/card_img/21009/2259card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/475/card_img/21165/475card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- ----------------------------- 점심+교통 혜택  ------------------------- -->
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/75/fa/77/75fa779882d237da740ed7a97de34783.gif" alt="">
            <div class="card-info">
              <h2>점심+교통 혜택 </h2>
              <p class="text-center">점심+교통 혜택 <br> BEST CARD을 만나보세요!</p>
              <button>See More</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div  class="row">
            <div  style="margin: 25px; margin-bottom: 0;" class="col-md-3">
              <div  style="padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/27/card_img/25865/27card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">MILEAGE PLATINUM</h1>
                  <p class="card__description">인천공항 라운지무료이용</p>
                  <a href="#" class="card__button"> 자세히 보기</a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style=" width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2259/card_img/21009/2259card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/475/card_img/21165/475card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>



<!-- ---------------------------------- 쇼핑 혜택 ----------------------------- -->
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/ff/fc/5a/fffc5a92c68455f331036891970b1fb9.gif" alt="">
            <div class="card-info">
              <h2>쇼핑 혜택 </h2>
              <p class="text-center">쇼핑 혜택 <br> BEST CARD을 만나보세요!</p>
              <button>See More</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div  class="row">
            <div  style="margin: 25px; margin-bottom: 0;" class="col-md-3">
              <div  style="padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/27/card_img/25865/27card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">MILEAGE PLATINUM</h1>
                  <p class="card__description">인천공항 라운지무료이용</p>
                  <a href="#" class="card__button"> 자세히 보기</a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style=" width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2259/card_img/21009/2259card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/475/card_img/21165/475card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <!-- ____________________________________________________광고 부분 _________________________________ -->
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="px-md-5 p-3 d-flex flex-column justify-content-center text-center col-lg-6">
          <h1>I enjoy with my whole heart</h1>
          <p class="mb-3 lead">Has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p> <a class="btn btn-link" href="#">Let's Go</a>
        </div>
        <div class="p-0 col-lg-6"> <img class="img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/3b7342123815683.60fe131fd2c5c.gif"> </div>
      </div>
    </div>
  </div>


  <!-- _---------------------------------------- 2부 ------------------------------- -->


  <!-- ---------------------------배달 간편결제------------------------------ -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/cf/64/96/cf6496ccdd4ee4ff2b07736be5c956c2.gif" alt="">
            <div class="card-info">
              <h2>배달+외식카드</h2>
              <p class="text-center">배달앱+간편결제 혜택 <br> BEST CARD을 만나보세요!</p>
              <button>See More</button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div  class="row">
            <div  style="margin: 25px; margin-bottom: 0;" class="col-md-3">
              <div  style="padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/27/card_img/25865/27card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">MILEAGE PLATINUM</h1>
                  <p class="card__description">인천공항 라운지무료이용</p>
                  <a href="#" class="card__button"> 자세히 보기</a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style=" width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/2259/card_img/21009/2259card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div style="margin: 25px;" class="col-md-3">
              <div style="margin: 10px; padding: 0px;"  class="card1">
                <img style="width: 200px;" src="https://api.card-gorilla.com:8080/storage/card/475/card_img/21165/475card.png" alt="" class="card__img"> 
            
                <!-- <div class="card__content">  -->
                <div class="card__data">
                  <h1 class="card__title">내맘대로 쁨 카드</h1>
                  <p class="card__description">전 가맹점 0.5% / 대형마트 5% / 주유소 5% 하나머니 적립</p>
                  <a href="#" class="card__button"> 추가하기 + </a>
                </div>
                <!-- </div> -->
              </div>
            </div>
            </div>
          </div>

      </div>
    </div>
  </div>


  <!-- -------------------------------  교육  혜택  ------------------------------>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/d6/47/b4/d647b456928a2d3672f45cc782a94b35.gif" alt="">
            <div class="card-info">
              <h2>항공 마일리지</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nisi rem quo officia voluptatum, dicta nulla praesentium a temporibus voluptas.</p>
              <button>See More</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- --------------------------------------------------- 반려동물 헤택 ------------------------------------------------- -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/d6/3c/de/d63cded9d8454a5b57ee8bef31c3ee71.gif" alt="">
            <div class="card-info">
              <h2>항공 마일리지</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nisi rem quo officia voluptatum, dicta nulla praesentium a temporibus voluptas.</p>
              <button>See More</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------카페 -------------------------------------------------------- -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card2">
            <img src="https://i.pinimg.com/originals/96/24/30/96243049b2a61f0672b8ccd11885a0ad.gif" alt="">
            <div class="card-info">
              <h2>항공 마일리지</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nisi rem quo officia voluptatum, dicta nulla praesentium a temporibus voluptas.</p>
              <button>See More</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
 

{% endblock body %}