{% extends 'base.html' %}

{% block css %}
  <style>
    .list-wrap {
      width: 600px;
    }

    .list-wrap-li {
      display: table;
      margin-top: 0;
      table-layout: fixed;
      position: relative;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      background: rgb(255, 255, 255);
    }

    .card_img {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      height: 100px;
      width: 120px;
      text-align: center;
    }

    .img {
      margin: 0;
      padding: 0;
      border: 0;
      margin-left: 20px;
    }

    .img a {
      display: block;
      outline: 0 !important;
      box-shadow: none;
      background-color: unset;
      text-decoration: none;
    }

    .img a img {
      display: block;
      display: table-cell;
      vertical-align: middle;
      height: 100px;
    }

    .card_name {
      line-height: 29px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: -1px;

    }

    .card_name a {
      display: block;
      margin-top: 10px;
    }

    .card_smallname {
      line-height: 21px;
      margin-top: 6px;
      font-size: 15px;
      letter-spacing: -0.5px;
    }

    .detail_view {
      width: 52px;
      display: table-cell;
      position: relative;
      vertical-align: middle;
      height: 100px;
      padding: 0;
      border: 0;
    }

    .detail_view a {
      display: block;
      cursor: pointer;
      height: 100%;
      font-size: 0;
      text-indent: -9999px;
      background-image: url("https://www.card-gorilla.com/statics/img/icon_arr_right.png");
      background-position: 50%;
      background-repeat: no-repeat;
      transition: all 0.15s;
    }
  </style>
{% endblock css %}

{% block body %}
  <!-- <h1>search_list.html </h1> {% for btl in bene_tu_li %} <h1> {{ btl.0 }} </h1> {% for card in btl.1 %} <a href="{% url 'card:detail' card.pk %}"> {{card.card_name}} </a> {% endfor %} <br> {% endfor %} -->

  <!-- search_list banner-->
  <div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div style="display: flex; justify-content: center;" class="p-3  text-right text-white">
          <p data-aos="fade-up" data-aos-duration="1000" style="font-size: 40px; font-family: 'Shrikhand';" class="">"You can check it on the Class Card"</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 항공 마일리지 카드 -->
  <div style="margin-top: 50px;" class="py-0">
    <div class="container">
      <p style="margin-left: 40px; color: #fff; padding: 10px; width: 300px; background-color: #0071E3;; border-radius: 50px;" class="text-center">
        항공 마일리지 혜택 카드를 확인해보세요</p>
    </div>
  </div>

  <div class="py-3">
    <div class="container text-center">
      <div class="row">
        {% for air_card in air_mileage_cards %}
          <!-- 카드 -->
          <div class="col">
            <div class="list-wrap">
              <ul>
                <li class="list-wrap-li">
                  <div class="card_img">
                    <p class="img">
                      <img style="vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{air_card.card_img}}" alt="">
                    </p>
                  </div>
                  <div>
                    <p class="card_name">
                      {{ air_card.card_name }}
                    </p>
                    <p class="card_smallname">{{ air_card.card_brand}}</p>
                  </div>
                  <div class="detail_view">
                    <a class="view_btn" href="{% url 'card:detail' air_card.pk %}">
                      상세보기</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- 점심 교통 혜택 카드 -->
  <div style="margin-top: 50px;" class="py-0">
    <div class="container">
      <p style="margin-left: 40px; color: #fff; padding: 10px; width: 300px; background-color: #0071E3;; border-radius: 50px;" class="text-center">
        점심+교통 혜택 카드를 확인해보세요</p>
    </div>
  </div>

  <div class="py-3">
    <div class="container text-center">
      <div class="row">
        <!-- 첫번째 카드 -->
        {% for luntra_card in luntra_cards %}
          <!-- 카드 -->
          <div class="col">
            <div class="list-wrap">
              <ul>
                <li class="list-wrap-li">
                  <div class="card_img">
                    <p class="img">
                      <img style="vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{luntra_card.card_img}}" alt="">
                    </p>
                  </div>
                  <div>
                    <p class="card_name">
                      {{ luntra_card.card_name }}
                    </p>
                    <p class="card_smallname">{{ luntra_card.card_brand}}</p>
                  </div>
                  <div class="detail_view">
                    <a class="view_btn" href="{% url 'card:detail' luntra_card.pk %}">
                      상세보기</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- 편의점 혜택 -->
  <div style="margin-top: 50px;" class="py-0">
    <div class="container">
      <p style="margin-left: 40px; color: #fff; padding: 10px; width: 300px; background-color: #0071E3;; border-radius: 50px;" class="text-center">
        편의점+카페 혜택 카드를 확인해보세요</p>
    </div>
  </div>

  <div class="py-3">
    <div class="container text-center">
      <div class="row">
        <!-- 첫번째 카드 -->
        {% for concafe_card in concafe_cards %}
          <!-- 카드 -->
          <div class="col">
            <div class="list-wrap">
              <ul>
                <li class="list-wrap-li">
                  <div class="card_img">
                    <p class="img">
                      <img style="vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{concafe_card.card_img}}" alt="">
                    </p>
                  </div>
                  <div>
                    <p class="card_name">
                      {{ concafe_card.card_name }}
                    </p>
                    <p class="card_smallname">{{ concafe_card.card_brand}}</p>
                  </div>
                  <div class="detail_view">
                    <a class="view_btn" href="{% url 'card:detail' concafe_card.pk %}">
                      상세보기</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- 통신 공과금 혜택 카드 -->
  <div style="margin-top: 50px;" class="py-0">
    <div class="container">
      <p style="margin-left: 40px; color: #fff; padding: 10px; width: 300px; background-color: #0071E3;; border-radius: 50px;" class="text-center">
        통신+공과금 혜택 카드를 확인해보세요</p>
    </div>
  </div>

  <div class="py-3">
    <div class="container text-center">
      <div class="row">
        <!-- 첫번째 카드 -->
        {% for telefee_card in telefee_cards %}
          <!-- 카드 -->
          <div class="col">
            <div class="list-wrap">
              <ul>
                <li class="list-wrap-li">
                  <div class="card_img">
                    <p class="img">
                      <img style="vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{telefee_card.card_img}}" alt="">
                    </p>
                  </div>
                  <div>
                    <p class="card_name">
                      {{ telefee_card.card_name }}
                    </p>
                    <p class="card_smallname">{{ telefee_card.card_brand}}</p>
                  </div>
                  <div class="detail_view">
                    <a class="view_btn" href="{% url 'card:detail' telefee_card.pk %}">
                      상세보기</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- 구독/스트리밍 혜택 카드 -->
  <div style="margin-top: 50px;" class="py-0">
    <div class="container">
      <p style="margin-left: 40px; color: #fff; padding: 10px; width: 300px; background-color: #0071E3;; border-radius: 50px;" class="text-center">
        영화+경기관람 혜택 카드를 확인해보세요</p>
    </div>
  </div>

  <div class="py-3">
    <div class="container text-center">
      <div class="row">
        {% for martedu_card in martedu_cards %}
          <!-- 카드 -->
          <div class="col">
            <div class="list-wrap">
              <ul>
                <li class="list-wrap-li">
                  <div class="card_img">
                    <p class="img">
                      <img style="vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{martedu_card.card_img}}" alt="">
                    </p>
                  </div>
                  <div>
                    <p class="card_name">
                      {{ martedu_card.card_name }}
                    </p>
                    <p class="card_smallname">{{ martedu_card.card_brand}}</p>
                  </div>
                  <div class="detail_view">
                    <a class="view_btn" href="{% url 'card:detail' martedu_card.pk %}">
                      상세보기</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock body %}
