{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock css %}

{% block body %}
  <div class="search-banner">
    <p class="search-banner-title">Search Your Card</p>
  </div>

  <div class="card-cate">
    <form action="{% url 'card:card_list' %}" method="GET" class="card-cate-form">
      <!-- 유저 나이대 (필수면서, 하나씩 밖에 못 고름) -->
      <div class="card-cate-age">
        <p class="card-cate-age-title">연령대를 골라주세요 <span style="font-size: 1rem; color: #7797fe;">필수</span></p>
        <select name="age" id="card-age" multiple required>
            <option value="20대">20대</option>
            <option value="30대">30대</option>
            <option value="40대 이상">40대</option>
        </select>
      </div>

      <!-- 카드 종류 (신용, 체크) (필수면서, 하나씩 밖에 못 고름) -->
      <div class="card-cate-type">
        <p class="card-cate-type-title">카드 종류를 선택해주세요 <span style="font-size: 1rem; color: #7797fe;">필수</span></p>
        <select name="type" id="card-type" multiple required>
            <option value="신용">신용</option>
            <option value="체크">체크</option>
        </select>
      </div>


      <div class="card-cate-benefit">
        <p class="card-cate-benefit-title">카드 혜택을 선택해주세요</p>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          {% for kbl in kor_benefit_lst %}
            <div class="">
              {% if kbl == '혜택' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">loyalty</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '스포츠' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">sports_soccer</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '영화' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">movie</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '문화' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">theater_comedy</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '여행' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">luggage</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '교통' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">directions_bus</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '페이' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">add_card</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '포인트' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">paid</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '통신사' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">phone_android</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '쇼핑' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">shopping_bag</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '교육' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">school</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '비즈니스' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">business_center</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '생활' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">home</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '공과금' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">assured_workload</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '카드' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">credit_card</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '어플' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">touch_app</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '애완동물' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">pets</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '자동차' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">directions_car</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '카페' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">coffee</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '건강' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">stethoscope</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '보험' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">account_balance</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '음식' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">ramen_dining</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '금융' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">savings</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '뷰티' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">diversity_1</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '항공' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">flight_takeoff</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '패션' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <i class="fa-regular fa-shirt"></i>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '프리미엄' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">diamond</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '지역' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">pin_drop</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% elif kbl == '기타' %}
              <label class='btn btn-outline-primary' id="cate-btn">
                <span class="material-symbols-outlined">more</span>
                <input type="checkbox" name='answers' id="cate-check" autocomplete='off' value="{{kbl}}" style='display:None;'>
                {{kbl}}
              </label>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <input type="submit" class="btn-cate-submit" value="카드 검색">
    </form>
  </div>


{% endblock body %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const categoryCheck = document.querySelectorAll("#cate-check")
    const categoryBtn = document.querySelectorAll("#cate-btn")
    // url 파라미터를 리스트로 변환하기
    const answers = []
    console.log(answers)

    var arr = new Array(categoryCheck.length);
    for (var i = 0; i < categoryCheck.length; i++) {
      arr[i] = 1;
    }

    for (let i = 0; i < categoryCheck.length; i++) {
      categoryCheck[i].addEventListener('click', function (event) {
        arr[i] += 1
        // 버튼을 클릭하면 입력되는 값, answer 리스트에 값 넣기
        if (arr[i] % 2 === 0) {
          categoryBtn[i].style.backgroundColor = '#7797fe';
          categoryBtn[i].style.color = 'white';
          answers.push(categoryCheck[i].defaultValue)
        } else {
          categoryBtn[i].style.backgroundColor = 'white';
          categoryBtn[i].style.color = '#7797fe';

          // answers 리스트 안에, 특정 단어가 있으면 삭제하기 
          for(let j = 0; j < answers.length; j++) {
            if(answers[j] === categoryCheck[i].defaultValue)  {
              answers.splice(j, 1);
              j--;
            }
          }
        }
      })
    }

    const url = window.location.href
    console.log(url)

    {% comment %} const searchParam = {
      answers: answers.join(",")
    }

    console.log(searchParam)

    const url = "/card/search/?";
      return axios.get(url, answers={params: searchParam})
          .then(res => {
              return res.data.value;
          })  {% endcomment %}

  </script>

  <script>
    // 카드 디테일 세로로 바꾸기
    let cardImage = document.querySelectorAll('.card-search-image')

    for (let i = 0 ; i < cardImage.length ; i ++) {
  
      if (cardImage[i].width > cardImage[i].height) {
        console.log('회전하기!')
        cardImage[i].style.width = '250px';
        cardImage[i].style.height = '150px';
        cardImage[i].classList.add('rotate90');
      } else {
        cardImage[i].style.width = '150px';
        cardImage[i].style.height = '250px';
      }
    }
  </script>

{% endblock script %}