html {
  --color-white: #FFF;
  --color-black: #000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #3A3A3A;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  background-color: #fff;
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
a {
  color: var(--color-font);
  text-decoration: none;
}

p {
  line-height: 1.6;
}

/* Inner */
.inner {
  /* max-width: 2000px; */
  margin: 0 auto;
  /* padding: 0 20px; */
  position: relative;
}


/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}


.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}




/* Header */
header {
  --header-height: 55px;
  background-color: #000;
  position: relative;
  z-index: 9;
  transition: .4s;
}
header .inner {
  max-width: 1020px;
  height: var(--header-height);
}
header .mobile-layout {
  display: none;
}

/* Header / Menu */
header ul.menu {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
header ul.menu > li {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: .4s;
}
header ul.menu > li.menu-starter {
  display: none;
}
header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  color: var(--color-font-lightgray);
  opacity: .8;
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}
/* header ul.menu > li.apple-logo > a {
  background-image: url("../images/class-card-logo.PNG");
} */
header ul.menu > li.search-starter > a {
  margin-top: 5px;
  background-image: url("../images/header_search.svg");
}
header ul.menu > li.basket-starter > a {
  margin-top: 5px;
  background-image: url("../images/header_bag.svg");
}
header ul.menu > li:hover > a {
  opacity: 1;
}

/* Header / Menu / Basket */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .basket.show {
  visibility: visible;
  opacity: 1;
}
header .basket .arrow {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 12px;
}
header .basket .arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 50%;
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: var(--color-font-darkgray);
  text-align: center;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid var(--color-border);
}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: var(--color-link);
}
header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
  position: fixed;
  top: 0;
  left: 0;
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%;
  height: var(--header-height);
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: var(--color-white);
}
header .search .search-icon {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
}
header .search .search-closer {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
header .search .search-closer:hover {
  opacity: 1;
}
header .search .search-canceler {
  display: none;
}
header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: var(--header-height);
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: var(--color-font-darkgray);
  margin-top: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: var(--color-section);
  color: var(--color-link);
}
header .clone-menu {
  display: none;
}

/* Search Animation */
/* 스타일을 한 번에 지정 */
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px, 0);
}
header.searching ul.menu > li {
  transform: scale(.7);
  opacity: 0;
}
header.searching .search-wrap {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
}



/* Navigation */
nav {
  --nav-height: 52px;
  border-bottom: 1px solid var(--color-border);
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 8;
}
nav .inner {
  max-width: 1000px;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}
nav h1 {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li.active a {
  opacity: .5;
  cursor: default;
}
nav .menu li:hover a {
  color: var(--color-link);
}
nav .menu li.active:hover a {
  color: var(--color-font);
}




html {
  /* max-height: 100%; */
  overflow-y: scroll;
  overflow-x: hidden;
}




/* NAV */
.search {
  position: relative;
  height: 34px;
}
.search input {
  width: 36px;
  height: inherit;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
.search input:focus {
  width: 190px;
  border-color: #0071E3;
}
.search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
.search.focused .material-icons {
  opacity: 0;
}


/*VISUAL*/
.visual {
  /* margin-top: 120px; */
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg");
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}



/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .tag {
  position: absolute;
  margin-top: 190px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* most search */
/* 두번째 swiper */
.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


/* img-content */
.img-content {
position: absolute;
}

.img-content button {
position: absolute;
}

/*RESERVE STORE*/
.reserve-store {
background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6676af119709473.60a63a197a129.gif");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}
.reserve-store .inner {
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}
.reserve-store .medal {
width: 334px;
height: 334px;
perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
width: inherit;
height: inherit;
position: absolute;
transition: 1s;
backface-visibility: hidden;
}
.reserve-store .medal .front {
transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
transform: rotateY(180deg);
}
.reserve-store .medal .back {
transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
position: absolute;
top: 240px;
left: 0;
right: 0;
margin: auto;
}




/*FOOTER*/
footer {
background-color: #fff;
  /* border-top: 1px solid #333; */
}
footer .inner {
padding: 40px 0 60px 0;
}
footer .menu {
display: flex;
justify-content: center;
}
footer .menu li {
position: relative;
}
footer .menu li::before {
content: "";
width: 3px;
height: 3px;
background-color: #555;
position: absolute;
top: 0;
bottom: 0;
right: -1px;
margin: auto;
}
footer .menu li:last-child::before {
display: none;
}
footer .menu li a {
display: block;
color: #000;
font-size: 12px;
font-weight: 700;
padding: 15px;
}
footer .menu li a.green {
color: #669900;
}
footer .btn-group {
margin-top: 20px;
display: flex;
justify-content: center;
}
footer .btn-group .btn {
font-size: 12px;
margin-right: 10px;
}
footer .btn-group .btn:last-child {
margin-right: 0;
}
footer .info {
margin-top: 30px;
text-align: center;
}
footer .info span {
margin-right: 20px;
color: #000;
font-size: 12px;
}
footer .info span:last-child {
margin-right: 0;
}
footer .copyright {
color: #999;
font-size: 12px;
text-align: center;
margin-top: 12px;
}
footer .logo {
margin: 30px auto 0;
}


/*SCROLL TO TOP*/
#to-top {
position: fixed;
bottom: 30px;
right: 30px;
z-index: 9;
width: 42px;
height: 42px;
background-color: #333;
color: #fff;
border: 2px solid #fff;
border-radius: 10px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
