html {
  --color-white: #FFF;
  --color-black: #000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #3A3A3A;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  background-color: #fff;
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
a {
  color: var(--color-font);
  text-decoration: none;
}

p {
  line-height: 1.6;
}

/* Inner */
.inner {
  /* max-width: 2000px; */
  margin: 0 auto;
  /* padding: 0 20px; */
  position: relative;
}


/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}


.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}




/* Header */
header {
  --header-height: 55px;
  background-color: #000;
  position: relative;
  z-index: 9;
  transition: .4s;
}
header .inner {
  max-width: 1020px;
  height: var(--header-height);
}
header .mobile-layout {
  display: none;
}

/* Header / Menu */
header ul.menu {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
header ul.menu > li {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: .4s;
}
header ul.menu > li.menu-starter {
  display: none;
}
header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  color: var(--color-font-lightgray);
  opacity: .8;
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}
/* header ul.menu > li.apple-logo > a {
  background-image: url("../images/class-card-logo.PNG");
} */
header ul.menu > li.search-starter > a {
  margin-top: 5px;
  background-image: url("../images/header_search.svg");
}
header ul.menu > li.basket-starter > a {
  margin-top: 5px;
  background-image: url("../images/header_bag.svg");
}
header ul.menu > li:hover > a {
  opacity: 1;
}

/* Header / Menu / Basket */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .basket.show {
  visibility: visible;
  opacity: 1;
}
header .basket .arrow {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 12px;
}
header .basket .arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 50%;
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: var(--color-font-darkgray);
  text-align: center;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid var(--color-border);
}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: var(--color-link);
}
header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
  position: fixed;
  top: 0;
  left: 0;
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%;
  height: var(--header-height);
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: var(--color-white);
}
header .search .search-icon {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
}
header .search .search-closer {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
header .search .search-closer:hover {
  opacity: 1;
}
header .search .search-canceler {
  display: none;
}
header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: var(--header-height);
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: var(--color-font-darkgray);
  margin-top: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: var(--color-section);
  color: var(--color-link);
}
header .clone-menu {
  display: none;
}

/* Search Animation */
/* 스타일을 한 번에 지정 */
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px, 0);
}
header.searching ul.menu > li {
  transform: scale(.7);
  opacity: 0;
}
header.searching .search-wrap {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
}



/* Navigation */
nav {
  --nav-height: 52px;
  border-bottom: 1px solid var(--color-border);
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 8;
}
nav .inner {
  max-width: 1000px;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}
nav h1 {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li.active a {
  opacity: .5;
  cursor: default;
}
nav .menu li:hover a {
  color: var(--color-link);
}
nav .menu li.active:hover a {
  color: var(--color-font);
}




/* visual */



/*NOTICE*/
/*NOTICE LINE*/
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 55%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 40px;
  margin-left: 300px;
}
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 16px;
  font-weight: 400;
  margin-right: 50px;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
}


/*VISUAL*/
.visual {
/* margin-top: 120px; */
background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg");
background-position: center;
object-fit: cover;
background-size: cover;
background-repeat: no-repeat;
}
.visual .inner {
height: 646px;
}
.visual .title {
position: absolute;
top: 78px;
left: 30px;
}
.visual .title .btn {
position: absolute;
top: 259px;
left: 173px;
}
.visual .cup1.image {
position: absolute;
bottom: 0;
right: -47px;
}
.visual .cup1.text {
position: absolute;
top: 38px;
right: 171px;
}
.visual .cup2.image {
position: absolute;
bottom: 0;
right: 162px;
}
.visual .cup2.text {
position: absolute;
top: 321px;
right: 416px;
}
.visual .spoon {
position: absolute;
bottom: 0;
left: 275px;
}
.visual .fade-in {
opacity: 0;
}






/* card */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 5px;
text-align: center;
background-color: #fff;
border-radius: 10px;
cursor: pointer;
}
.card .profile{
border-radius: 10px;
transition: 0.2s;
}
.card:hover .profile{
transform: scale(1.4);
border-top-right-radius: 50px;
border-top-left-radius: 50px;
}

.card .content{
width: 100%;
height: 100%;
position: relative;
overflow: hidden;
}
.card .content .back{
position: absolute;
width: 100%;
height: 100%;
background-color: #f1f1f1e6;
transition: 1s;
z-index: 1;
padding: 10px;
}

.from-left{
top: 0;
left: -100%;
}
.card:hover .content .from-left {
left: 0%;
}

.from-bottom{
top: 100%;
left: 0;
}
.card:hover .content .from-bottom {
top: 0%;
}

.from-right{
top: 0%;
right: -100%;
}
.card:hover .content .from-right {
right :0;
}

.card .content .back h3{
font-size: 15px;
letter-spacing: 2px;

}
.card .content .back .tem-img{
border-radius: 100%;
}

.card .content .back .des{
font-size: 13px;
padding: 10px 30px 10px 30px;
}
.card .content .back .social-icon{
list-style: none;
margin: 0px;
padding: 0px;
}
.card .content .back .social-icon li{
display: inline-block;
}

.card .content .back .social-icon li a{
display: block;
background: #000;
color: #fff;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
border-radius: 100%;
}


.icon_box {
border-radius: 10px;
background-color: #f5f5f5;
padding: 40px 20px;
}

.icon_box li {
display: inline-block;
width: 12.5%;
text-align: center;
list-style: none;
}


/* 카드 추천 */

.txt {
  position: absolute;
  top: 30px;
  left: 25px;
  color: #fff;
  font-size: 18px;
}

.card-img-top {
  filter: brightness(50%)
}

.card img:hover{
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* BEST */
/* swiper */
.swiper {
  margin-top: 60px;
  width: 1300px;
  height: 350px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #ccc; */
  border-radius: 20px 20px 20px 20px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}







/*AWARDS*/
.awards {
background-color: #272727;
}
/* .awards .inner {
padding: 40px 0;
} */
.awards .swiper-container {
width: 100%;
height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
width: 42px;
height: 42px;
outline: none;
border: 2px solid #fff;
border-radius: 50%;
color: #fff;
position: absolute;
top: 0;
bottom: 0;
margin: auto;
opacity: .3;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition: .4s;
}
.awards .swiper-prev {
left: -100px;
}
.awards .swiper-next {
right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
background-color: #fff;
color: #333;
}