{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="py-5 text-center text-white align-items-center d-flex" style="height: 600px; background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
    <div class="container py-5">
      <div class="row">
        <div style=" justify-content: center;" class="mx-auto col-lg-8 col-md-10">
            <img style="margin-bottom: 20px; width: 40px; color: #fff;"  src="https://cdn.icon-icons.com/icons2/1808/PNG/512/lightbulb_115137.png" alt="">
            <h1 style="margin-bottom: 30px;">
                 {% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. <br> If you have not received it please check your spam folder. <br> Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 고객문의 이동 -->
  <div style="margin-top: 40px;" class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6">
          <h1  > 도움이 더 필요하시다면, <pre></pre> 고객문의를 이용해주세요</h1>
          <p class="mb-4">
            If you need more help, please use Contact Us.</p>
          <div style="margin-bottom: 10px;" class="form-inline d-flex justify-content-center">
            <a  style=" border-radius: 50px; background-color: #0071E3; width: 300px; height: 45px; font-size: 18px; color: #fff;" href="{% url 'service:index' %}"><p style="margin-top: 5px;">고객 문의</p></a>
          </div>
          <p class="small">We are always happy to help our customers.</p>
        </div>
      </div>
    </div>
  </div>

<!-- 광고 -->
<!-- <div style="margin-top: 50px; display: flex; justify-content: center;" class="py-5">
    <div class="container" >
      <div class="row">
        <div style="margin-top: 50px; display: flex; justify-content: center;" class="col-md-12 p-3">
            <img  class="img-fluid d-block" src="https://api.card-gorilla.com:8080/storage/display/4122/pc_img/27373/%EC%8A%88%ED%8D%BC%EC%87%BC%ED%8D%BC%EC%B9%B4%EB%93%9C_bottom_pc_900x300.jpg"> </div>
      </div>
    </div>
  </div> -->



    
{% endblock %}
