{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load account %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% endblock css %}

{% block content %}
<div class="bg-img">
  <div class="d-flex justify-content-center">
    <div class="p-4" style="margin-top: 9rem; width: 600px; height: auto; overflow: hidden; background-color: white; border-radius: 8px;">
      <p class="mt-3 mb-4 d-flex justify-content-center" style="font-size: 20px;">비밀번호 변경</p>
      {% if user.is_authenticated %}

      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}

      {% if form.errors %}
        <div class="alert alert-warning" style="font-size: 13px;">
          <ul class="alert-message" style="padding: 5px 10px 0px 10px;">
            {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-error mb-1" style="padding-top: 10px; font-size: 13px; color: #664d03;">
                  <div style="background-color: #fff3cd;">
                    <strong>{{ error|escape }}</strong>
                  </div>
              </div>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% for error in form.non_field_errors %}
          <div class="alert alert-error" style="font-size: 13px;">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
       
      <!-- 현재 비밀번호 -->
      <div class="mb-2">
        <label>현재 비밀번호</label>
        <span>{{ form.oldpassword }}</span>
      </div>

      <!--새 비밀번호 -->
      <div class="mb-2">
        <label>새 비밀번호</label>    
        <span>{{ form.password1 }}</span>
      </div>   

      <!-- 현재 비밀번호 -->  
      <div>
        <label>새 비밀번호 (확인)</label>    
        <span>{{ form.password2 }}</span>
      </div>   

      <div class="mt-4 d-flex justify-content-center" style="position: relative;">
        <button class="signup_btn" type="submit"></button>   
        <button style="position: absolute; color: white; top: 12px; background:none; border: 0px;">비밀번호 변경</button>   
      </div>

      <div class="mt-4" style="position: relative;">
        <span><img style="margin-right: 5px;" src="{% static 'images/exclamation.png' %}" alt=""></span>
        <span style="position: absolute; top: 2px; font-size: 15px;">비밀번호 변경에 문제가 있으시면 저희에게 연락주세요.</span>
      </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script>
  $('#id_oldpassword').addClass('form-control');
  $('#id_password1').addClass('form-control');
  $('#id_password2').addClass('form-control');
</script>
{% endblock %}
