{% extends 'base.html' %}
{% block body %}
  <div class="">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></button>
    <a href="$para=hole" class='btn btn-primary'>전체카드</a>
    <a href="$para=samsung" class='btn btn-primary'>신한카드</a>
    <a href="$para=shinhan" class='btn btn-primary'>삼성카드</a>
    <a href="$para=lotte" class='btn btn-primary'>롯데카드</a>
    <a href="$para=hana" class='btn btn-primary'>지난이벤트 or 다른카드</a>
  </div>
  <div class=""></div>
