{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Card</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <!-- nav -->
    <!-- Header -->
    <header>
        <!-- inner는 다른 컨텐츠 안에서도 가운데 정렬을 할 수 있도록 한다. -->
        <div class="inner">
  
          <ul class="menu">
            <!-- javascript:void(0) 링크 태그에 값은 존재하지만 실제 동작이 되지 않음-->
            <li class="apple-logo"><a href="javascript:void(0)">Class Card</a></li>
            <li><a href="javascript:void(0)">스토어</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <li><a href="javascript:void(0)">card</a></li>
            <!-- starter 라고 이름을 정한 이유 : 아이콘으로 시작하기 때문 -->
            <li class="search-starter"><a href="javascript:void(0)">검색</a></li>
            <li class="basket-starter" >
              <a href="javascript:void(0)">장바구니</a>
              <div class="basket">
                <div class="arrow"></div>
                <div class="message">
                  장바구니가 비어 있습니다.
                </div>
                <ul>
                  <li><a href="javascript:void(0)">장바구니</a></li>
                  <li><a href="javascript:void(0)">저장된 항목</a></li>
                  <li><a href="javascript:void(0)">주문</a></li>
                  <li><a href="javascript:void(0)">계정</a></li>
                  <li><a href="javascript:void(0)">로그인</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="search-wrap">
            <div class="search">
              <div class="shadow"></div>
              <div class="textfield">
                <input type="text" placeholder="class_card.com 검색" />
                <div class="search-icon"></div>
                <div class="search-closer"></div>
              </div>
              <div class="autocompletes">
                <h3>빠른 링크</h3>
                <ul>
                  <li><a href="javascript:void(0)">card Store 임시 휴무 관련 자주하는 질문</a></li>
                  <li><a href="javascript:void(0)">card Store Online에서 쇼핑하기</a></li>
                  <li><a href="javascript:void(0)">공지사항</a></li>
                  <li><a href="javascript:void(0)">class card가 궁금해요</a></li>
                  <li><a href="javascript:void(0)">사회 초년생에게 </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
  
      <!-- Navigation -->
      <nav>
        <div class="inner">
          <h1>Class Card</h1>
          <ul class="menu">
            <li class="active"><a href="javascript:void(0)">개요</a></li>
            <li><a href="javascript:void(0)">Class Card를 선택하는 이유</a></li>
            <li><a href="javascript:void(0)">CARD 정보</a></li>
          </ul>
          <button class="btn">START</button>
        </div>
      </nav>
    

    {% block body %}
    
    {% endblock body %}

    <!-- footer -->
    <div class="py-3" >
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                <!-- logo영역 -->
              <!-- <img style="width: 9.375rem;" src="{}" alt=""> -->
            </div>
          </div>
          <pre></pre>
          <div class="row">
            <div class="d-flex justify-content-center">
              <!-- Go to www.addthis.com/dashboard to customize your tools -->
             <div class="addthis_inline_share_toolbox"></div>
            </div>
          </div>
          <pre></pre>
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="mb-0">© 2022 All rights reserved</p>
            </div>
          </div>
        </div>
      </div>



    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6370773bcd26bc2f"></script>
    
    <!-- JS 영역 -->
    <script src="{% static 'js/test.js' %}"></script>

</body>
</html>
