{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>CLASS CARD</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- reset.css cdn -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat&family=Noto+Sans+KR:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Montserrat&family=Noto+Sans+KR:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

  <!-- Libraries Stylesheet -->
  <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/lightbox/css/lightbox.min.css' %}"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  {% block css %}{% endblock css %}

</head>

<body style="background-color: #fff;">
  <!-- Header -->
  <header>
    <div class="inner">

      <ul class="menu">
        <li class="menu-starter">
          <a>
            <div>
              <span></span>
              <span></span>
            </div>
          </a>
        </li>
        <li class="apple-logo">
          <!-- <img style="width: 100px; height: 100px;" src="./images/class-logo.png" alt=""> -->
          <a href="{% url 'main' %}">Class Card</a>
        </li>
        <li>
          <a href="{% url 'card:cardcompanylist' %}">카드사</a>
        </li>
        <li>
          <a href="{% url 'card:search' %}">맞춤 카드
          </a>
        </li>
        <li>
          <!-- Button trigger modal -->
          <a class="header-card-compare-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
            카드 비교
          </a>
        </li>
        <li>
          <a href="{% url 'articles:eventhome' %}">이벤트</a>
        </li>
        <li>
          <a href="{% url 'magazine:index' %}">커뮤니티</a>
        </li>
        <li>
          <a href="{% url 'service:index' %}">고객 문의</a>
        </li>
        <li class="search-starter">
          <a href="javascript:void(0)">검색</a>
        </li>
        <li class="basket-starter">
          <a href="javascript:void(0)">장바구니</a>
          <div class="basket">
            <div class="arrow"></div>
            <div class="message">
              Class Card 회원가입이 필요합니다.
            </div>
            <ul style="list-style:none;">
              <li>
                <a href="javascript:void(0)">저장된 항목</a>
              </li>
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'accounts:profile' request.user.username %}">계정</a>
                {% else %}
                  <a href="">계정</a>
                {% endif %}
              </li>
              <li>
                {% if request.user.is_authenticated %}
                  <a href="/logout">로그아웃</a>
                {% else %}
                  <a href="/login">로그인</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="search-wrap">
        <div class="search">
          <div class="shadow"></div>
          <form action="{% url 'nav_search' %}" method='GET'>
            <div class="textfield">
              <input type="text" placeholder="class_card.com 검색" name='text'>
              <button type='submit'>
                <div class="search-icon"></div>
              </button>
              <div class="search-closer"></div>
            </div>
          </form>
          <div class="search-canceler">취소</div>
          <div class="autocompletes">
            <h3 style="margin-bottom: 10px;">빠른 링크</h3>
            <ul style="list-style:none;">
              <li>
                <a href="javascript:void(0)">card Store 임시 휴무 관련 자주하는 질문</a>
              </li>
              <li>
                <a href="javascript:void(0)">card Store Online에서 돈 아끼기</a>
              </li>
              <li>
                <a href="javascript:void(0)">겨울시작, 가스비 인상에 대해 우리가 해결할게요</a>
              </li>
              <li>
                <a href="javascript:void(0)">class card가 궁금해요</a>
              </li>
              <li>
                <a href="javascript:void(0)">청소년도 카드 사용 가능한가요?</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- Navigation -->
  <nav>
    <div class="shadow"></div>
    <div class="contents-bg"></div>
    <div class="inner">
      <a style="flex-grow: 1; font-size: 22px; font-weight: 500;" href="{% url 'main' %}">Class Card</a>
      <div class="menu-toggler"></div>
      <ul style="margin-top: 15px; list-style:none;" class="menu">
        <li>
          <a href="javascript:void(0)">Class Card를 선택하는 이유</a>
        </li>
        <li>
          <a href="javascript:void(0)">CARD 정보</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <button onclick="location.href='/logout'" class="btn">LOGOUT</button>
      {% else %}
        <button onclick="location.href='/signup'" class="btn">JOIN</button>
      {% endif %}

    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:black;">카드 비교함</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="card-modal-body">
          {% if request.user.is_authenticated %}
            <div class="row">
              <div class="col compare-bag-card">
                {% if compare_cards.0 %}

                <div class="compare-bag-card-image-box">
                  <img class="compare-bag-card-image" src="{{ compare_cards.0.card.card_img }}" alt="" srcset="">
                </div>
                <div class="compare-bag-overlay">
                  <a class="compare-bag-overlay-word" href="{% url 'card:detail' compare_cards.0.card.id %}">카드<br>보러 가기</a>
                </div>
                <p class="compare-bag-card-name" style="color:black;">{{ compare_cards.0.card.card_name }}</p>
                {% else %}
                  <div class="compare-bag-card-image-box">
                    <a class="compare-bag-card-search" href="{% url 'card:search' %}">
                      <span class="material-symbols-outlined" style="font-size: 3rem; margin: 0;">add</span></a>
                  </div>
                {% endif %}
              </div>
              <div class="col compare-bag-card">
                {% if compare_cards.1 %}

                <div class="compare-bag-card-image-box">
                  <img class="compare-bag-card-image" src="{{ compare_cards.1.card.card_img }}" alt="" srcset="">
                </div>
                <div class="compare-bag-overlay">
                  <a class="compare-bag-overlay-word" href="{% url 'card:detail' compare_cards.1.card.id %}">카드<br>보러 가기</a>
                </div>
                <p class="compare-bag-card-name" style="color:black;">{{ compare_cards.1.card.card_name }}</p>
                {% else %}
                  <div class="compare-bag-card-image-box">
                    <a class="compare-bag-card-search" href="{% url 'card:search' %}">
                      <span class="material-symbols-outlined" style="font-size: 3rem; margin: 0;">add</span></a>
                  </div>
                {% endif %}
              </div>
              <div class="col compare-bag-card">
                {% if compare_cards.2 %}
                <div class="compare-bag-card-image-box">
                  <img class="compare-bag-card-image" src="{{ compare_cards.2.card.card_img }}" alt="" srcset="">
                </div>
                <div class="compare-bag-overlay">
                  <a class="compare-bag-overlay-word" href="{% url 'card:detail' compare_cards.2.card.id %}">카드<br>보러 가기</a>
                </div>
                <p class="compare-bag-card-name" style="color:black;">{{ compare_cards.2.card.card_name }}</p>
                {% else %}
                  <div class="compare-bag-card-image-box">
                    <a class="compare-bag-card-search" href="{% url 'card:search' %}">
                      <span class="material-symbols-outlined" style="font-size: 3rem; margin: 0;">add</span></a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% else %}
            <p style="color:black;">{{ compare_cards }}</p>

            {% endif %}
          </div>
          <div class="modal-footer">
            <a href="{% url 'card:card_compare' %}" type="button" class="btn-compare-card">카드 비교 보러가기</a>
            <button type="button" class="btn-compare-card-cancel" data-bs-dismiss="modal">취소</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
    <ul class="messages list-unstyled">
      <div class="alert alert-warning" role="alert">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</li>
        {% endfor %}
      </div>
    </ul>
  {% endif %}
  {% block body %}{% endblock body %}

  <!--FOOTER-->
  
  <footer style="margin-top: 90px;">
    <div class="inner">

      <ul style="list-style-type : none;" class="menu">
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)" class="green">개인정보처리방침</a>
        </li>
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)">영상정보처리기기 운영관리 방침</a>
        </li>
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)">홈페이지 이용약관</a>
        </li>
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)">위치정보 이용약관</a>
        </li>
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)">클라스 카드 이용약관</a>
        </li>
        <li>
          <a style="text-decoration: none;" href="javascript:void(0)">윤리경영 핫라인</a>
        </li>
      </ul>

      <div class="btn-group">
        <div style="display: flex; justify-content:center;" class="container">
          <button style=" border-radius: 30px; height: 38px; background-color: #0071E3;" type="button" class="btn">
            <a style=" margin: 20px; color: #fff; text-decoration: none;" href="">찾아오시는 길
            </a>
          </button>
          <button style=" border-radius: 30px; height: 38px; background-color: #0071E3;" type="button" class="btn">
            <a style=" margin: 20px; color: #fff; text-decoration: none;" href="">신규 소식
            </a>
          </button>
          <button style=" border-radius: 30px; height: 38px; background-color: #0071E3;" type="button" class="btn">
            <a style=" margin: 20px; color: #fff; text-decoration: none;" href="">사이트 맵
            </a>
          </button>
        </div>

      </div>

      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div style="margin-top: 50px; margin-bottom: 30px; display: flex; justify-content: center;" class="container">
        <div class="addthis_inline_share_toolbox"></div>
      </div>

      <div class="info">
        <span>사업자등록번호 000-00-0000</span>
        <span>(주)클라스 카드</span>
        <span>TEL :02) 000-000 / FAX : 02) 000-000</span>
        <span>개인정보 책임자 : 000</span>
      </div>

      <p class="copyright">
        &copy;
        <span class="this-year"></span>Class Card Company. All Rights Reserved.
      </p>

    </div>
  </footer>

  <!--TO TOP BUTTON-->
  <div id="to-top">
    <div class="material-icons">arrow_upward</div>
  </div>

  <!-- JS 영역 -->
  <script src="{% static 'js/test.js' %}"></script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <!--GSAP & ScrollToPlugin-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>

  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- GSAP JS Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js" integrity="sha512-/6TZODGjYL7M8qb7P6SflJB/nTGE79ed1RfJk3dfm/Ib6JwCT4+tOfrrseEHhxkIhwG8jCl+io6eaiWLS/UX1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6370773bcd26bc2f"></script>

  <script>
    // 모달에 있는 카드들 세로로 바꾸기
    let modalCardImage = document.querySelectorAll('.compare-bag-card-image')
    console.log(modalCardImage)

    for (let i = 0; i < modalCardImage.length; i++) {

      if (modalCardImage[i].width > modalCardImage[i].height) {
        console.log('회전하기!')
        modalCardImage[i].style.width = '160px';
        modalCardImage[i].style.height = '100px';
        modalCardImage[i]
          .classList
          .add('rotate90');
      } else {
        modalCardImage[i].style.width = '100px';
        modalCardImage[i].style.height = '160px';
      }
    }
  </script>

  {% block script %}{% endblock script %}

</body>

</html>
