{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block body %}

<!-- visual -->
<section class="visual">
  <div style="height: 550px;" class="inner">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container text-center">
                  <div class="row">
                      <div class="col-sm-4">
                          <span>
                              <img style="margin-left: 70px; margin-top: 140px; height: 359px;"  src="./images/class-card-text.png" class="d-block " alt="...">     
                          </span>
                      </div>
                      <div class="col-sm-8">
                          <img style="margin-left: 200px; height: 550px;"  src="./images/class-card-img16.png" class="d-block " alt="...">     
                      </div>
                    </div>
              </div>
            <div class="carousel-item ">
              <div class="container text-center">
                  <div class="row">
                      <div class="col-sm-4">
                          <span>
                              <img style="margin-left: 70px; margin-top: 140px; height: 359px;"  src="./images/class-card-text.png" class="d-block " alt="...">     
                          </span>
                      </div>
                      <div class="col-sm-8">
                          <img style="margin-left: 200px; height: 550px;"  src="./images/class-card-img16.png" class="d-block " alt="...">     
                      </div>
                    </div>
              </div>         
            </div>
            <div class="carousel-item ">
              <div class="container text-center">
                  <div class="row">
                      <div class="col-sm-4">
                          <span>
                              <!-- <img style="margin-left: 70px; margin-top: 140px; height: 359px;"  src="./images/class-card-text.png" class="d-block " alt="...">      -->
                          </span>
                      </div>
                      <div class="col-sm-8">
                          <!-- <img style="margin-left: 200px; height: 550px;"  src="./images/class-card-img16.png" class="d-block " alt="...">      -->
                      </div>
                    </div>
              </div>        
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
</section>

  <!-- Swiper -->
 <div style="margin-top: 25px;" class="py-5">
  <div class="container">
      <div class="row" >
        <div class="col-md-4">
          <h3 style="font-size: 60px; margin-left: 40px; font-weight: 900;">2022 <br> BEST CARD</h3>
      <h6 style="margin-left: 50px;">2022년도 가장 인기가 많았던 카드</h6>
          <pre></pre>
          <button style="margin-left: 38px; border-radius: 30px; background-color: #0071E3;" type="button" class="btn">
              <a style=" margin: 20px; color: #fff; text-decoration: none;" href="">전체 보기 > </a>
          </button>
        </div>
        <div class="col-md-8">
          <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img style=" width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/1149/card_img/26710/1149card.png" alt="카드1">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8); border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#아파트 관리비</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#쓸때 마다 할인</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#프리미엄</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img  style="  width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/2228/card_img/21353/2228card.png" alt="카드2">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#스타벅스 60%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#영화 50%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#이동통신 10%</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/2300/card_img/25153/2300card.png" alt="카드3">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#20% 하나머니 적립</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#쇼핑/패션/명품</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#페이결제</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/2304/card_img/23588/2304card.png" alt="카드4">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#환전수수료 면제</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#투자 서비스</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#이벤트 카드</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/49/card_img/24313/49card.png" alt="카드5">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#커피/주유</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#공항 라운지 무료</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#프리미엄</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="border-radius: 10px; width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/715/card_img/22189/715card.png" alt="카드6">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#디지털구독</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#통신 10%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#편의점 10%</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="border-radius: 10px; width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/714/card_img/22188/714card.png" alt="카드7">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#주유 10%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#커피 5%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#페이결제 1% 할인</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/2387/card_img/25536/2387card.png" alt="카드8">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#이벤트 카드</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#쓸때 마다 할인</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#프리미엄</a></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img style="width: 230px;" src="https://api.card-gorilla.com:8080/storage/card/2407/card_img/26843/2407card.png" alt="카드9">
                  <div class="tag">
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#반려동물</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#보험사 10%</a></button>
                      <button style="font-size: 14px; opacity: 1; background-color: rgba(226, 226, 226, 0.8);  margin: 3px; border-radius: 30px;" type="button" class="btn"><a style="color: #000; text-decoration: none;" href="">#간편결제</a></button>
                  </div>
                </div>
              </div>
              
              <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
      </div>
    </div>
</div>

  
    
{% endblock body %}



