{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search_list.css' %}">

{% endblock css %}


{% block body %}

  <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">검색 결과를 확인해보세요.</h1>
          <p class="lead mb-5">Check out the search results</p>
          <h1>{{text}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!--카드 리스트.ver1 시작-->
  <!-- <div class="py-5">
    <div class="container">
      <h6>카드</h6>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              {% for card in card_list %}
                <a href="{% url 'card:detail' card.pk%}">
                  {{card.card_name}}
                </a><br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--카드 리스트.ver1 끝-->

  <!--카드 리스트.ver2 시작-->
  <div class="py-5" style="margin-top: 2rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            {% for card in card_list %}
            <!-- 카드  -->
            <div class="col" style="display:flex; justify-content: center;">
              <div class="list-wrap">
                <ul>
                  <li class="list-wrap-li">
                    <div class="card_img">
                      <p class="img">
                        <a href="{% url 'card:detail' card.id %}">
                          <img style="margin-left: 20px; vertical-align: top; max-width: 80px; max-height: 80px; width: auto; height: auto;" src="{{ card.card_img }}" alt="">
                        </a>
                      </p>
                    </div>
                    <div >
                      <p class="card_name">
                        <a href="{% url 'card:detail' card.id %}"> {{ card.card_name }}</a>
                      </p>
                      <P class="card_smallname">{{ card.card_brand }}</P>
                    </div>
                    <div class="detail_view">
                      <a class="view_btn" href="{% url 'card:detail' card.id %}"> 상세보기</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--카드 리스트.ver2 끝-->

  <div class="row mt-2">
    <div class="col-12 my-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if card_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{{request.get_full_path}}&page={{card_list.previous_page_number}}">이전</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">이전</a>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="#">{{card_list.number}}
              /
              {{card_list.paginator.num_pages}}</a>
          </li>
          {% if card_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{request.get_full_path}}&page={{card_list.next_page_number}}">다음</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">다음</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  <!--card-list-pagination div 끝-->


{% endblock body %}