{% extends 'base.html' %}
{% block body %}
  <h1>nav_search</h1>
  <h1>{{text}}</h1>
  <h3>카드</h3>
  {% for card in card_list %}
    <a href="{% url 'card:detail' card.pk%}">
      {{card.card_name}}
    </a><br>
  {% endfor %} -->
  <!-- <div class="">

    {% if card_list.has_previous %}
      <a href="{{request.get_full_path}}&page={{card_list.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{card_list.number}}</span>
    <span>/</span>
    <span>{{card_list.paginator.num_pages}}</span>
    {% comment %} {% for p in card_list.paginator.page_range %}
      <a href="{{request.get_full_path}}&?page={{p}}" class="mx-1">{{p}}</a>
    {% endfor %} {% endcomment %}

    {% if card_list.has_next %}
      <a href="{{request.get_full_path}}&page={{card_list.next_page_number}}">다음</a>
    {% endif %}
  </div> -->
  <!-- <h6>혜택</h6> {% for bcard in benefit_card_lst %} {{bcard.card_name}} {% endfor %} -->

  <h3>매거진</h3>
  <!-- <h6>매거진</h6>
  {% for magazine in magazine_list %}
    <a href="{% url 'magazine:detail' magazine.pk %}">
      {{magazine.title}}
    </a><br>
  {% endfor %} -->



  <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/816e3b86128681.5d909dad46bf1.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">검색 결과를 확인해보세요.</h1>
          <p class="lead mb-5">Check out the search results</p>
          <h1>{{text}}</h1>
          <h6>카드</h6>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              {% for card in card_list %}
                <a href="{% url 'card:detail' card.pk%}">
                  {{card.card_name}}
                </a><br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <p style="border-radius: 50px; color: #fff; background-color: #0071E3;" class="text-center" >신한카드 The CLASSIC-Y </p>
            </div>
            <div class="col-md-3">
              <p style="border-radius: 50px; color: #fff; background-color: #0071E3;" class="text-center" >신한카드 HI-POINT</p>
            </div>
            <div class="col-md-3">
              <p style="border-radius: 50px; color: #fff; background-color: #0071E3;" class="text-center" >신한카드 HI-POINT</p>
            </div>
            <div class="col-md-3">
              <p style="border-radius: 50px; color: #fff; background-color: #0071E3;" class="text-center" >신한카드 HI-POINT</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>매거진</h6>
  {% for magazine in magazine_list %}
    <a href="{% url 'magazine:detail' magazine.pk %}">
      {{magazine.title}}
    </a><br>
  {% endfor %}
  

    {% if magazine_list.has_previous %}
      <a href="{{request.get_full_path}}&page={{magazine_list.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{magazine_list.number}}</span>
    <span>/</span>
    <span>{{magazine_list.paginator.num_pages}}</span>
    {% comment %} {% for p in magazine_list.paginator.page_range %}
      <a href="{{request.get_full_path}}&?page={{p}}" class="mx-1">{{p}}</a>
    {% endfor %} {% endcomment %}

    {% if magazine_list.has_next %}
      <a href="{{request.get_full_path}}&page={{magazine_list.next_page_number}}">다음</a>
    {% endif %}
  </div>

    <div style="margin-top: 50px; margin-bottom: 60px; display: flex; justify-content: center;" class="">

      {% if card_list.has_previous %}
        <a href="{{request.get_full_path}}?page={{card_list.previous_page_number}}">이전</a>
      {% endif %}
  
      {% for p in card_list.paginator.page_range %}
        <a href="{{request.get_full_path}}?page={{p}}" class="mx-1">{{p}}</a>
      {% endfor %}
  
      {% if card_list.has_next %}
        <a href="{{request.get_full_path}}?page={{card_list.next_page_number}}">다음</a>
      {% endif %}
    </div>
{% endblock body %}