.list-wrap {
	width: 600px;
}

.list-wrap-li {
	display: table;
	margin-top: 0;
	table-layout: fixed;
	position: relative;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	background: rgb(255, 255, 255);
}


.card_img {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	height: 100px;
	width: 120px;
	text-align: center;
}

.img {
	margin: 0;
	padding: 0; 
	border: 0;
}

.img a {
	display: block; 
	outline: 0 !important; 
	box-shadow: none; 
	background-color: unset; 
	text-decoration: none;
}

.img a img {
	display: block; 
	display: table-cell; 
	vertical-align: middle;  
	height: 100px;
}

.card_name {
	line-height: 29px; 
	font-weight: 700; 
	font-size: 18px; 
	letter-spacing: -1px;
}

.card_name a {
	display: block;
}

.card_smallname {
	line-height: 21px; 
	margin-top: 6px; 
	font-size: 15px; 
	letter-spacing: -0.5px;
}

.detail_view {
	width: 52px; 
	display: table-cell; 
	position: relative; 
	vertical-align: middle; 
	height: 100px; 
	padding: 0; 
	border: 0;
}

.detail_view a {
	display: block; 
	cursor: pointer; 
	height: 100%; 
	font-size: 0; 
	text-indent: -9999px;
    background-image: url(https://www.card-gorilla.com/statics/img/icon_arr_right.png); 
	background-position: 50%; 
    background-repeat: no-repeat; 
	transition: all 0.15s;	
}