{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
{% endblock css %}

{% block body %}

<div class="container mt-5">
  <h1 class="d-flex justify-content-center">{{question.title}}</h1> 
  <div class="d-flex justify-content-end">
    <span style="font-size: 15px; margin-right: 1rem; padding-top: 5px;" class="text-muted">{{ question.created_at|date:'Y-m-d' }}</span>
    <span style="font-size: 20px;">{{ question.user }}</span>
  </div>

  <div class="p-3 my-5" style="background-color: #f9f9f9;">
    <h3>{{ question.content }}</h3>
  </div>

  {% if request.user.is_staff %}
  <form action="{% url 'service:comment' question.id %}" class="ser-comment-form" method='POST' data-question-id={{ question.id }}>
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <div class="d-flex justify-content-center">
      <input value="작성" type="submit" class='btn' style="width: 25%; padding: 14px 0px 22px 0px; border: 1px solid gray; background-color: white; color: gray;">
    </div>
  </form>
  {% endif %}

  <div class="ser-comments mt-5" style="background-color: #fbfbfb; object-fit: contain;">
    {% for comment in comments %}
      <div class="d-flex p-4 mt-5 shadow rounded" style="position: relative; border: 1px solid #cbcbcb; background-color: white; border-radius: 10px; min-height: 150px;">         
        <div>
          <div style="margin-right: 2rem; display: flex; flex-direction: column; align-items: center;">
            {% if comment.user.image %}
              <img src="{{ comment.user.image.url }}" alt="" style="width: 80px; height: 80px; border-radius: 50px;">
              <span>{{ comment.user.username }}</span>
            {% else %}
              <img src="{% static 'images/profile.png' %}" style="width: 80px; height: 80px; border-radius: 50px;">     
              <span>{{ comment.user.username }}</span>
            {% endif %}
          </div>    
        </div>
        <div style="max-width: 76%; word-break: break-all;">
          <p>{{ comment.content}}</p>
          {% if comment.user == request.user %}
          <div class="ser-comment-change">
            <p class="ser-comment-update">수정</p>
            <p class="ser-comment-delete">삭제</p>
          </div>
          <form class="ser-comment-update-form" action="{% url 'service:comment_update' question.id comment.id %}" method="post">
            {% csrf_token %}
            <input class="comment-content-update">
            <div class="comment-update-buttons">
              <p class="comment-control-done">수정 완료</p>
              <p class="comment-control-exit">취소</p>
            </div>
          </form>
          {% endif %}
        </div>
        <div class="text-muted" style="position: absolute; right: 11px; top: 5px;">
          <p>{{comment.created_at|date:'Y-m-d H:i'}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}

{% block script %}

<script>
  // 댓글 생성 비동기
  const commentForm = document.querySelector('.ser-comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  commentForm.addEventListener('submit', function(event){
    event.preventDefault();
    axios({
      method: 'post',
      url: `/service/comment/${event.target.dataset.questionId}/`,
      headers: {
        'X-CSRFToken': csrftoken
      },
      data: new FormData(commentForm)
    }) .then(response => {
      
      const comments = document.querySelector(".ser-comments")
      comments.textContent = ""
      const commentData = response.data.commentData
      const user = response.data.user
      const serviceId = response.data.serviceId

      for (i = 0; i < commentData.length; i++) {

        // 유저가 프로필 이미지가 있을 때
        if (commentData[i].commentUserImg) {
          // 해당 댓글이 지금 로그인 된 유저가 쓴 글일때
          if (user === commentData[i].user_id) {
            comments.insertAdjacentHTML('beforeend', `
            <div class="d-flex p-4 mt-5 shadow rounded" style="position: relative; border: 1px solid #cbcbcb; background-color: white; border-radius: 10px; min-height: 150px;">         
              <div>
                <div style="margin-right: 2rem; display: flex; flex-direction: column; align-items: center;">
                  <img src="${commentData[i].commentUserImg}" alt="" style="width: 80px; height: 80px; border-radius: 50px;">
                  <span>${commentData[i].commentUser}</span>
                </div>    
              </div>
              <div style="max-width: 76%; word-break: break-all;">
                <p>${commentData[i].content}</p>
                <div class="ser-comment-change">
                  <p class="ser-comment-update">수정</p>
                  <p class="ser-comment-delete">삭제</p>
                </div>
                <form class="ser-comment-update-form" action="" method="post">
                  <input class="comment-content-update">
                  <div class="comment-update-buttons">
                    <p class="comment-control-done">수정 완료</p>
                    <p class="comment-control-exit">취소</p>
                  </div>
                </form>
              </div>
              <div class="text-muted" style="position: absolute; right: 11px; top: 5px;">
                <p>${commentData[i].created_at}</p>
              </div>
            </div>
            `)
          } else {
            comments.insertAdjacentHTML('beforeend', `
            <div class="d-flex p-4 mt-5 shadow rounded" style="position: relative; border: 1px solid #cbcbcb; background-color: white; border-radius: 10px; min-height: 150px;">         
              <div>
                <div style="margin-right: 2rem; display: flex; flex-direction: column; align-items: center;">
                  <img src="${commentData[i].commentUserImg}" alt="" style="width: 80px; height: 80px; border-radius: 50px;">
                  <span>${commentData[i].commentUser}</span>
                </div>    
              </div>
              <div style="max-width: 76%; word-break: break-all;">
                <p>${commentData[i].content}</p>
              </div>
              <div class="text-muted" style="position: absolute; right: 11px; top: 5px;">
                <p>${commentData[i].created_at}</p>
              </div>
            </div>
            `)
          }

        } else {
          if (user === commentData[i].user_id) {
            comments.insertAdjacentHTML('beforeend', `
            <div class="d-flex p-4 mt-5 shadow rounded" style="position: relative; border: 1px solid #cbcbcb; background-color: white; border-radius: 10px; min-height: 150px;">         
              <div>
                <div style="margin-right: 2rem; display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/images/profile.png" style="width: 80px; height: 80px; border-radius: 50px;">     
                  <span>${commentData[i].commentUser}</span>
                </div>    
              </div>
              <div style="max-width: 76%; word-break: break-all;">
                <p>${commentData[i].content}</p>
                <div class="ser-comment-change">
                  <p class="ser-comment-update">수정</p>
                  <p class="ser-comment-delete">삭제</p>
                </div>
                <form class="ser-comment-update-form" action="" method="post">
                  <input class="comment-content-update">
                  <div class="comment-update-buttons">
                    <p class="comment-control-done">수정 완료</p>
                    <p class="comment-control-exit">취소</p>
                  </div>
                </form>
              </div>
              <div class="text-muted" style="position: absolute; right: 11px; top: 5px;">
                <p>${commentData[i].created_at}</p>
              </div>
            </div>
            `)
          } else {
            comments.insertAdjacentHTML('beforeend', `
            <div class="d-flex p-4 mt-5 shadow rounded" style="position: relative; border: 1px solid #cbcbcb; background-color: white; border-radius: 10px; min-height: 150px;">         
              <div style="position: relative;">
                <div style="margin-right: 2rem; display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/images/profile.png" style="width: 80px; height: 80px; border-radius: 50px;">     
                  <span>${commentData[i].commentUser}</span>
                </div>    
              </div>
              <div style="max-width: 76%; word-break: break-all;">
                <p>${commentData[i].content}</p>
              </div>
              <div class="text-muted" style="position: absolute; right: 11px; top: 5px;">
                <p>${commentData[i].created_at}</p>
              </div>
            </div>
            `)
          }
        }

      }

    })
  })
</script>


{% endblock script %}